:root {
    --primary: #0E0075;
    --secondary: #FF4093;
    --tertiary: #6054BA;
    --white: #fff;
}

body {
    background: var(--primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "GD Boing", sans-serif;
}

pre {
    font-family: "GD Boing", sans-serif;
    margin: 0;
}

.title {
    font-size: 1.6rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    width: min(100%,270px);
}

.img1 {
    position: absolute;
    left: -80px;
    bottom: -80px;
}
.img2 {
    position: absolute;
    right: -100px;
    bottom: -100px;
}
.img3 {
    position: absolute;
    right: -200px;
    top: 30px;
}
.img4 {
    position: absolute;
    left: -200px;
    top: 30px;
}

header, .hero {
    min-width: 800px;
}

.flex {
    display: flex;
}

.red {
    color: var(--secondary);
}

.tertiary {
    color: var(--tertiary) ;
}

.lined {
    display: inline-block;
    position: relative;
}

.lined::before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    top: 52%;
    background-color: var(--white);
}

.large { 
    font-size: 2.3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
ul {
    margin-right: 1rem;
}
li {
    position: relative;
    margin: 0 0.5rem;
    cursor: pointer;
}

li::before {
    content: '';
    position: absolute;
    height: 1.5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

li:hover:before {
    transform: scaleX(1);
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h1, .price {
    margin-bottom: 3rem;
}

.cta {
    background: linear-gradient(0deg, var(--secondary), #ff81b8);
    color: var(--white);
    box-shadow: 0 3px 5px 5px rgba(0,0,0,0.2);
    padding: 0.8em 1.6em;
    border: none;
    border-radius: 20px;
}

.to-bottom {
    display: inline-block;
    align-self: center;
}

button {
    background: var(--tertiary);
    border: none;
    border-radius: 20px;
    padding: 0.8em;
    color: var(--white)
}

.right, .cta {
    font-size: 0.8rem;
}

i { 
    transform: scale(0.8);
}